# Compiled Lua sources
luac.out
# luarocks build files
*.src.rock
*.zip
*.tar.gz
# Object files
*.o
*.os
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# DCS specific
*.ofsh
fxo/
Data/MagVar/TabularData/
metashaders2/
ImagesShop/
ScreenShots/
Logs/
Tracks/
MissionEditor/
Missions/
/Config/network.vault
/Config/options.lua.nonvr
/Config/imgui.ini
/Config/authdata.bin